[Unit]
Description=Registryd - A service that configures and spawns docker registries
PartOf=infra.service

[Service]
ExecStartPre=mkdir -p "{{ registryd_user_cfg }}"
ExecStartPre=cp "{{ registryd_cfg }}/README.md" "{{ registryd_user_cfg }}/"
ExecStartPre=cp "{{ registryd_cfg }}/8100_quay.yml.j2.example" "{{ registryd_user_cfg }}/"
ExecStartPre=mkdir -p "{{ registries_config }}"
ExecStartPre=chown -R registry:registry "{{ registries_config }}"
ExecStart=/usr/local/bin/registryd
Restart=always
RestartSec=1s

[Install]
WantedBy=infra.service
